<a href="https://colab.research.google.com/github/NALLAKRISHNAPRIYA/python-git-project/blob/main/KNN_Crop_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv('crop.csv')

In [2]:
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
X=data.iloc[:,0:-1].values

In [4]:
X

array([[ 90.        ,  42.        ,  43.        , ...,  82.00274423,
          6.50298529, 202.9355362 ],
       [ 85.        ,  58.        ,  41.        , ...,  80.31964408,
          7.03809636, 226.6555374 ],
       [ 60.        ,  55.        ,  44.        , ...,  82.3207629 ,
          7.84020714, 263.9642476 ],
       ...,
       [118.        ,  33.        ,  30.        , ...,  67.22512329,
          6.36260785, 173.3228386 ],
       [117.        ,  32.        ,  34.        , ...,  52.12739421,
          6.75879255, 127.1752928 ],
       [104.        ,  18.        ,  30.        , ...,  60.39647474,
          6.77983261, 140.9370415 ]])

In [5]:
Y=data.iloc[:,-1].values

In [6]:
Y

array(['rice', 'rice', 'rice', ..., 'coffee', 'coffee', 'coffee'],
      dtype=object)

In [7]:
k=pd.get_dummies(data.label)

In [8]:
k

      apple  banana  blackgram  ...  pomegranate  rice  watermelon
0         0       0          0  ...            0     1           0
1         0       0          0  ...            0     1           0
2         0       0          0  ...            0     1           0
3         0       0          0  ...            0     1           0
4         0       0          0  ...            0     1           0
...     ...     ...        ...  ...          ...   ...         ...
2195      0       0          0  ...            0     0           0
2196      0       0          0  ...            0     0           0
2197      0       0          0  ...            0     0           0
2198      0       0          0  ...            0     0           0
2199      0       0          0  ...            0     0           0

[2200 rows x 22 columns]

In [9]:
Y=k.values

In [10]:
Y

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X=sc.fit_transform(X)

In [13]:
X

array([[ 1.0687974 , -0.34455075, -0.1016875 , ...,  0.47266646,
         0.04330173,  1.8103605 ],
       [ 0.93332887,  0.14061552, -0.14118477, ...,  0.39705125,
         0.73487256,  2.24205791],
       [ 0.25598625,  0.04964684, -0.08193887, ...,  0.48695381,
         1.77151047,  2.92106603],
       ...,
       [ 1.82742114, -0.61745677, -0.35841972, ..., -0.19123516,
        -0.13812031,  1.27141766],
       [ 1.80032743, -0.64777967, -0.27942519, ..., -0.86951801,
         0.37390383,  0.43154519],
       [ 1.44810927, -1.07230015, -0.35841972, ..., -0.49802006,
         0.40109573,  0.68200518]])

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [16]:
X_train

array([[-1.20707382, -1.07230015, -0.2201793 , ...,  0.82912249,
        -0.68733104,  0.08339544],
       [ 0.66239182, -0.5264881 , -0.08193887, ...,  0.12553694,
         0.18592451,  0.91510172],
       [-0.71938713,  2.35418661,  2.91985322, ...,  0.55088215,
        -0.9525237 , -0.69375968],
       ...,
       [-0.52973119, -0.5264881 , -0.37816835, ..., -0.84281802,
        -0.01155048, -0.10924316],
       [ 1.20426592, -0.49616521, -0.25967656, ..., -0.13740394,
        -0.15656311,  1.61914108],
       [-1.15288641, -0.92068569, -0.08193887, ...,  0.81798918,
         0.8547306 ,  0.09122056]])

In [17]:
X_test

array([[ 1.04170369, -0.95100858,  0.07605019, ...,  0.65709213,
        -0.32591333, -0.91576253],
       [ 1.0958911 , -0.8903628 ,  0.13529608, ...,  0.52160006,
        -0.27190989, -1.0318383 ],
       [ 0.96042258, -0.67810256, -0.25967656, ..., -0.48139838,
         0.02104182,  1.6013432 ],
       ...,
       [-0.39426267,  0.23158419, -0.53615741, ..., -1.45727359,
        -1.10172393,  1.18536925],
       [ 1.0687974 , -1.13294593, -0.06219024, ...,  0.41043312,
        -0.22996715, -0.96288441],
       [-0.17751303,  0.04964684, -0.45716288, ..., -0.25015688,
         1.2305186 , -0.5878571 ]])

In [18]:
Y_train

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=uint8)

In [19]:
Y_test

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0]], dtype=uint8)

In [21]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)

In [22]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [23]:
Y_pred=classifier.predict(X_test)

In [24]:
Y_pred

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0]], dtype=uint8)

In [26]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,Y_pred))

0.9795454545454545